#screen-center {
    align: center middle;
    width: 100%;
    height: 1fr;
}

#home,
#help-container,
#details-layout {
    width: 80;
}

Vertical {
    align-horizontal: center;
}

Input,
Select,
Button,
Static,
Label,
DataTable,
ListView {
    width: 100%;
    max-width: 80;
}

#details-layout > Vertical {
    width: 1fr;
    margin: 1 1;
}
